/* styles.css */

body {
  background-image: url("../src/wp9448832.webp");
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

.page-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle effect */
  padding: 20px; /* Optional: Add padding to the container */
  min-width: 300px; /* Set a minimum width to prevent the container from becoming too narrow */
  min-height: 100vh; /* Set a minimum height to cover the entire viewport */
  margin: 20px; /* Optional: Add margin for spacing from the edges */
}

.container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px; /* Add padding for better visual appearance */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; /* Set a minimum height to cover the entire viewport */
}

h1 {
  margin: 0 auto 20px;
  color: #404040;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
}

.login-form {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.register-form {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-group {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  font-weight: bold;
  color: #414141;
}

.btn-primary {
  background-color: #2d67ec;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #1a4f99;
}

.link {
  font-size: 16px;
  color: #197526;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
